.App {
  font-family: sans-serif;
  text-align: center;
}




.rct-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
}

.rct-item:hover {
  background-color: #e0e0e0;
}


  table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .rct-item.custom-event-class > .custom-item{
            display: none !important;
        }

.react-calendar-timeline .rct-scroll {
    overflow-x: hidden;
}